.navbar-brand {
	font-size: 2rem;
}

.nav-link {
	font-weight: bold;
	color:black;	
}

.carousel-caption {
	color: aliceblue;
	text-align: left;
 }

 .carousel-control-prev {
	color: rgb(8, 4, 39);
 }


