body {
	background-color: white;
	font-family: Roboto, sans-serif; 
}

h1 {	
	font-family: Lato, Roboto, san-serif; 
	padding-top: 3px;
}

h2 {	
	font-family: Lato, Roboto, san-serif; 
}

h3 {	
	font-family: Lato, Roboto, san-serif; 
}

.navbar-brand {
	font-size: 2rem;
}

.nav-link {
	font-weight: bold;
	color:black;	
}

.carousel-caption {
	color: aliceblue;
	text-align: left;
 }

 .carousel-control-prev {
	color: rgb(8, 4, 39);
 }


