@import url('http://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	background-color: white;
	font-family: Roboto, sans-serif; 
}

h1 {	
	font-family: Lato, Roboto, san-serif; 
	padding-top: 3px;
}

h2 {	
	font-family: Lato, Roboto, san-serif; 
}

h3 {	
	font-family: Lato, Roboto, san-serif; 
}
.carousel-caption, .carousel-caption h5 {
    font-size: xx-large;
}

.container {
	margin-top: 25px;
	margin-bottom: 100px;
}

.carousel {
	max-width: 800px;
	margin-top: 25px;
}

.carousel-caption {
	text-shadow: 2px 2px 2px black;
}

.fixed-bottom { 
	border-top: 1px solid silver; 
	box-shadow: 0 0 10px 0 silver;
}

.carousel-item h5 {
    text-align: center;
}

.carousel-item p {
    font-size: medium;
    text-align: center;
}